:root {
  font-size: 62.5%;
}

body {
  display: grid;
  justify-content: center;
  place-items: center;
  background: black;

  height: 100vh;
}

.btn {
  width: 30rem;
  height: 30rem;
  background: wheat;

  font-size: 4rem;
  text-align: center;
}
p {
  display: block;
  margin-top: 11rem;
}

.anima {
  animation: Diminui 3s ease-in;
}
.hiddenDiv {
  display: none;
}
.card {
  background: transparent url(./assets/Ra.png) no-repeat;
  background-size: 40rem;

  width: 50rem;
  height: 50rem;
}

@keyframes Diminui {
  from {
    width: 30rem;
    height: 30rem;
  }
  to {
    width: 0px;
    height: 0px;
  }
}
